//extent layout.jade ==============================================================================
extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .navbar-brand MONGO SCRAPER
    .container
      .collapse.navbar-collapse
        ul.mr-auto
        .navbar-nav
          a#home.nav-item.nav-link.active(href='/')
            | Home
            span.sr-only (current)
          a#savedArts.nav-item.nav-link(href='') Saved Articles
          a#scrape.nav-item.nav-link(href='') Scrape
  img(src='images/newspaper2.jpg', alt='newspaper background').bgsize
  .container
    //- img(src='images/newspaper2.jpg', alt='newspaper background').bgsize.marbtn
    .row#articles


  #myModal.modal
    .modal-content
        span.close ×
        #modalBody       





